In [1]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy as sqlal
import psycopg2
import numpy as np

In [2]:
datos_dep=pd.read_csv('datos_icfes_por_departamento.csv')
datos_dep

,periodo,departamento,codigo_departamento,puntaje_ingles,max_p_ingles,min_p_ingles,std_ingles,puntaje_mate,max_p_mate,min_p_mate,...,min_p_nat,std_nat,puntaje_lec,max_p_lec,min_p_lec,std_lec,puntaje_global,max_p_global,min_p_global,std_global
0,20194,SANTANDER,68.0,50.995223,100.0,0.0,12.624499,55.047454,100.0,16.0,...,20,11.128436,55.071997,100,0,10.475539,263.611355,448,101,52.471237
1,20142,MAGDALENA,47.0,46.663418,100.0,0.0,7.786940,45.854983,92.0,0.0,...,0,8.893472,45.554870,91,0,9.388692,228.524368,415,0,37.127649
2,20151,META,50.0,45.505983,76.0,0.0,6.297182,45.762393,76.0,0.0,...,19,10.537808,46.398291,73,18,7.158934,226.634188,391,85,36.045484
3,20142,VAUPES,97.0,47.097484,71.0,27.0,5.756899,44.729560,72.0,12.0,...,20,8.673048,42.616352,70,26,8.471737,224.462264,352,152,35.371888
4,20151,GUAINIA,94.0,44.769231,53.0,38.0,4.657500,42.846154,55.0,39.0,...,30,6.473813,39.846154,47,30,4.669871,212.153846,240,192,15.071199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,20181,BOYACA,15.0,44.816092,76.0,25.0,10.089747,46.402299,72.0,27.0,...,29,9.269294,51.298851,73,31,8.989807,238.781609,342,158,42.619033
354,20211,CAQUETA,18.0,41.625000,58.0,21.0,11.684035,46.875000,67.0,27.0,...,31,7.911753,52.000000,70,36,9.633276,233.312500,317,172,37.551243
355,20201,RISARALDA,66.0,67.760369,100.0,23.0,18.166353,59.244240,100.0,26.0,...,26,12.601025,60.599078,81,29,11.995779,294.350230,414,147,62.483456
356,20181,GUAVIARE,95.0,44.000000,55.0,30.0,11.284207,44.750000,56.0,37.0,...,40,5.123475,53.250000,65,44,9.032349,242.500000,267,216,20.888593
357,20224,NaN,NaN,35.000000,35.0,35.0,0.000000,40.000000,40.0,40.0,...,38,0.000000,40.000000,40,40,0.000000,192.000000,192,192,0.000000

In [5]:
datos_dep.columns

Index(['periodo', 'departamento', 'codigo_departamento', 'puntaje_ingles',
       'max_p_ingles', 'min_p_ingles', 'std_ingles', 'puntaje_mate',
       'max_p_mate', 'min_p_mate', 'std_mate', 'puntaje_soc', 'max_p_soc',
       'min_p_soc', 'std_soc', 'puntaje_nat', 'max_p_nat', 'min_p_nat',
       'std_nat', 'puntaje_lec', 'max_p_lec', 'min_p_lec', 'std_lec',
       'puntaje_global', 'max_p_global', 'min_p_global', 'std_global'],
      dtype='object')

In [ ]:
#Redondeamos los valores extraidos de ATHENA

In [6]:
datos_dep[['puntaje_ingles','max_p_ingles', 'min_p_ingles', 'std_ingles', 'puntaje_mate',
       'max_p_mate', 'min_p_mate', 'std_mate', 'puntaje_soc', 'max_p_soc',
       'min_p_soc', 'std_soc', 'puntaje_nat', 'max_p_nat', 'min_p_nat',
       'std_nat', 'puntaje_lec', 'max_p_lec', 'min_p_lec', 'std_lec',
       'puntaje_global', 'max_p_global', 'min_p_global', 'std_global']]=datos_dep[['puntaje_ingles','max_p_ingles', 'min_p_ingles', 'std_ingles', 'puntaje_mate',
       'max_p_mate', 'min_p_mate', 'std_mate', 'puntaje_soc', 'max_p_soc',
       'min_p_soc', 'std_soc', 'puntaje_nat', 'max_p_nat', 'min_p_nat',
       'std_nat', 'puntaje_lec', 'max_p_lec', 'min_p_lec', 'std_lec',
       'puntaje_global', 'max_p_global', 'min_p_global', 'std_global']].apply(np.round)

In [7]:
datos_dep

,periodo,departamento,codigo_departamento,puntaje_ingles,max_p_ingles,min_p_ingles,std_ingles,puntaje_mate,max_p_mate,min_p_mate,...,min_p_nat,std_nat,puntaje_lec,max_p_lec,min_p_lec,std_lec,puntaje_global,max_p_global,min_p_global,std_global
0,20194,SANTANDER,68.0,51.0,100.0,0.0,13.0,55.0,100.0,16.0,...,20,11.0,55.0,100,0,10.0,264.0,448,101,52.0
1,20142,MAGDALENA,47.0,47.0,100.0,0.0,8.0,46.0,92.0,0.0,...,0,9.0,46.0,91,0,9.0,229.0,415,0,37.0
2,20151,META,50.0,46.0,76.0,0.0,6.0,46.0,76.0,0.0,...,19,11.0,46.0,73,18,7.0,227.0,391,85,36.0
3,20142,VAUPES,97.0,47.0,71.0,27.0,6.0,45.0,72.0,12.0,...,20,9.0,43.0,70,26,8.0,224.0,352,152,35.0
4,20151,GUAINIA,94.0,45.0,53.0,38.0,5.0,43.0,55.0,39.0,...,30,6.0,40.0,47,30,5.0,212.0,240,192,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,20181,BOYACA,15.0,45.0,76.0,25.0,10.0,46.0,72.0,27.0,...,29,9.0,51.0,73,31,9.0,239.0,342,158,43.0
354,20211,CAQUETA,18.0,42.0,58.0,21.0,12.0,47.0,67.0,27.0,...,31,8.0,52.0,70,36,10.0,233.0,317,172,38.0
355,20201,RISARALDA,66.0,68.0,100.0,23.0,18.0,59.0,100.0,26.0,...,26,13.0,61.0,81,29,12.0,294.0,414,147,62.0
356,20181,GUAVIARE,95.0,44.0,55.0,30.0,11.0,45.0,56.0,37.0,...,40,5.0,53.0,65,44,9.0,242.0,267,216,21.0
357,20224,NaN,NaN,35.0,35.0,35.0,0.0,40.0,40.0,40.0,...,38,0.0,40.0,40,40,0.0,192.0,192,192,0.0

In [8]:
#nos conectamos a la base de datos
engine = create_engine('postgresql://postgres:pablojose@database-isaac-1.ct6dl822v1pj.us-east-1.rds.amazonaws.com:5432/proyecto_3')

In [9]:
datos_dep.to_sql('datos_departamento', con=engine, if_exists='replace')

In [10]:
#nos conectamos nuevamente
engine = create_engine('postgresql://postgres:pablojose@database-isaac-1.ct6dl822v1pj.us-east-1.rds.amazonaws.com:5432/proyecto_3')
dbConnection=engine.connect();

In [12]:
datos=pd.read_sql("SELECT * FROM datos_departamento", dbConnection)
datos=datos.drop(labels="index",axis=1)
datos

,periodo,departamento,codigo_departamento,puntaje_ingles,max_p_ingles,min_p_ingles,std_ingles,puntaje_mate,max_p_mate,min_p_mate,...,min_p_nat,std_nat,puntaje_lec,max_p_lec,min_p_lec,std_lec,puntaje_global,max_p_global,min_p_global,std_global
0,20194,SANTANDER,68.0,51.0,100.0,0.0,13.0,55.0,100.0,16.0,...,20,11.0,55.0,100,0,10.0,264.0,448,101,52.0
1,20142,MAGDALENA,47.0,47.0,100.0,0.0,8.0,46.0,92.0,0.0,...,0,9.0,46.0,91,0,9.0,229.0,415,0,37.0
2,20151,META,50.0,46.0,76.0,0.0,6.0,46.0,76.0,0.0,...,19,11.0,46.0,73,18,7.0,227.0,391,85,36.0
3,20142,VAUPES,97.0,47.0,71.0,27.0,6.0,45.0,72.0,12.0,...,20,9.0,43.0,70,26,8.0,224.0,352,152,35.0
4,20151,GUAINIA,94.0,45.0,53.0,38.0,5.0,43.0,55.0,39.0,...,30,6.0,40.0,47,30,5.0,212.0,240,192,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,20181,BOYACA,15.0,45.0,76.0,25.0,10.0,46.0,72.0,27.0,...,29,9.0,51.0,73,31,9.0,239.0,342,158,43.0
354,20211,CAQUETA,18.0,42.0,58.0,21.0,12.0,47.0,67.0,27.0,...,31,8.0,52.0,70,36,10.0,233.0,317,172,38.0
355,20201,RISARALDA,66.0,68.0,100.0,23.0,18.0,59.0,100.0,26.0,...,26,13.0,61.0,81,29,12.0,294.0,414,147,62.0
356,20181,GUAVIARE,95.0,44.0,55.0,30.0,11.0,45.0,56.0,37.0,...,40,5.0,53.0,65,44,9.0,242.0,267,216,21.0
357,20224,None,NaN,35.0,35.0,35.0,0.0,40.0,40.0,40.0,...,38,0.0,40.0,40,40,0.0,192.0,192,192,0.0

In [3]:
datos.colums

NameError: name 'datos' is not defined